.need-tutor-page{
    margin: 0 auto;
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: "Gilroy";
    src: url("https://raw.githubusercontent.com/Hongda-OSU/PicGo-2.3.1/master/imgGilroy-Regular.ttf");
    
}
.signout-button{
    width: 25vw;
    margin: 10 auto;
    font-size: 15px;
    background-color: #ceb8ef;
    padding: 10px;
    display: flex;
    justify-content: center;
    font-family: "Gilroy";
    src: url("https://raw.githubusercontent.com/Hongda-OSU/PicGo-2.3.1/master/imgGilroy-Regular.ttf");
    margin-bottom: 10px;
}
.header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    text-align: center;
    font-family: "Gilroy";
    src: url("https://raw.githubusercontent.com/Hongda-OSU/PicGo-2.3.1/master/imgGilroy-Regular.ttf");
    margin-bottom: 10px
  }
  
  .header .title {
    flex-grow: 1;
    font-size: 20px;
  }
  
  .header Button {
    position: absolute;
    right: 0;
  }
  .posting-box{
    height: 85vh;
    overflow-y: scroll;
    background-color: hsl(200, 6%, 90%);
    border: 2px solid #b1b0b0;
  }