@font-face {
  font-family: "Gilroy";
  src: url("https://raw.githubusercontent.com/Hongda-OSU/PicGo-2.3.1/master/imgGilroy-Regular.ttf");
  font-display: swap;
}

.need-tutor-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Gilroy";
  background-color: #f1f9f8;
}

.posting-box {
  width: 90%;
  height: 85vh;
  margin: auto;
  overflow-y: scroll;
  background-color: hsl(200, 6%, 90%);
  border: 2px solid #b1b0b0;
}
