@font-face {
  font-family: "Gilroy";
  src: url("https://raw.githubusercontent.com/Hongda-OSU/PicGo-2.3.1/master/imgGilroy-Regular.ttf");
  font-display: swap;
}

@font-face {
  font-family: "ZhuZiAWan";
  src: url("https://cdn.jsdelivr.net/gh/Hongda-OSU/PicGo/image/ZhuZiAWan.ttf");
  font-display: swap;
}

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@900&family=Noto+Sans+Tangsa:wght@600&family=Pacifico&family=Playpen+Sans:wght@600;800&family=Roboto:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@900&family=Pacifico&family=Playpen+Sans:wght@600;800&family=Roboto:wght@500&display=swap");

.header {
  width: 100vw;
  min-height: 90px;
  display: flex;
  flex-direction: row;
  background-color: #00008b;
}

.header-icon-container {
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 4.5%;
}

.header-icon {
  width: 80px;
  height: 80px;
}

.header-title-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 4px;
}

.header-title-container:hover {
  cursor: pointer;
}

.upper-section {
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.header-title-text {
  overflow-wrap: break-word;
  color: white;
  font-family: "Pacifico", cursive;
  font-size: 32px;
  font-weight: 400;
  text-align: left;
  white-space: nowrap;
  margin-left: 2px;
  margin-top: 5px;
}

.header-title-text.active {
  color: red;
}

.lower-section {
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  letter-spacing: 1.2px;
  margin-left: 4px;
}

.header-slogan-text {
  overflow-wrap: break-word;
  color: white;
  font-family: "Gilroy";
  font-size: 11px;
  font-weight: 600;
  text-align: left;
  white-space: nowrap;
}

.header-search-container {
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 11%;
}

.header-search {
  width: 40vw !important;
}

.header-user-interaction-container {
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 8%;
}

.header-user-interaction-navigate {
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

.navigate-button {
  width: 120px !important;
}

.header-user-interaction-chat {
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

.chat-button {
  width: 120px !important;
}

.header-user-interaction-profile {
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-button {
  width: 120px !important;
}

.navigation {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 700px;
  height: 400px;
  background-color: white;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  border: 2px dashed black;
}

.navigation-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.navigation-need-tutor {
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 60px;
}

.navigation-need-tutor-icon {
  width: 205px;
  height: 205px;
}

.navigation-need-tutor-text-container {
  display: flex;
  flex-direction: row;
}

.navigation-need-tutor-text-i {
  overflow-wrap: break-word;
  color: black;
  font-family: "Noto Sans Tangsa", sans-serif;
  font-size: 32px;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
}

.navigation-need-tutor-text {
  overflow-wrap: break-word;
  color: black;
  font-family: "ZhuZiAWan";
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
  margin-top: 18px;
}

.navigation-post-tutor {
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 50px;
}

.navigation-post-tutor-icon {
  width: 205px;
  height: 205px;
}

.navigation-post-tutor-text-container {
  display: flex;
  flex-direction: row;
}

.navigation-post-tutor-text-i {
  overflow-wrap: break-word;
  color: black;
  font-family: "Noto Sans Tangsa", sans-serif;
  font-size: 32px;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
}

.navigation-post-tutor-text {
  overflow-wrap: break-word;
  color: black;
  font-family: "ZhuZiAWan";
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
  margin-top: 18px;
}

.navigation-need-tutor:hover {
  transform: scale(1.05);
  cursor: pointer;
  filter: brightness(1.05);
  ::before {
    filter: brightness(0.5);
    top: -100%;
    left: 200%;
  }
}

.navigation-post-tutor:hover {
  transform: scale(1.05);
  cursor: pointer;
  filter: brightness(1.05);
  ::before {
    filter: brightness(0.5);
    top: -100%;
    left: 200%;
  }
}

.navigation-close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background-color: #f00;
  color: #fff;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
}
